<script id='tpl-add-cmd' type="text/ejs">

	<div>
		<div class="cmd-type">
			<h3>Type</h3>
			<select class="form-control">
				<option>open</option>
				<option>run</option>
				<option>js</option>
			</select>
		</div>
		<div class="cmd-editor">
		</div>
	</div>

</script>
