<!-- Global assets -->
<?- render('assets/ejs/assets.ejs', null, true) ?>

<div id="NB-scripts">
	<?-
		_.js(
			// Third libs
			_.u() + 'requirejs/require.js',
			_.u() + 'jquery/dist/jquery.min.js',
			_.u() + 'underscore/underscore-min.js',
			_.u() + 'underscore.string/dist/underscore.string.min.js',
			_.u() + 'bootstrap/dist/js/bootstrap.min.js',

			// NB
			_.u() + 'langs/' + NB.conf.current_lang + '.js',
			_.u() + 'js/jquery.helpers.js',
			_.u() + 'js/_.helpers.js',
			_.u() + 'js/app.js'
		)
	?>

</div>

<!-- Global configuration. -->
<script type="text/javascript">

	NB.nobone = new NB.Nobone

</script>
